<html>
<head>
  <title><%= @title %></title>
  <%= bootstrap_css false %>
  <%= bootstrap_js_legacy %>
  <link type="text/css" rel="stylesheet" href="/css/stylesheet.css" />
  <link rel="shortcut icon" href="/favicon.png">
</head>

<body>

<div id="content">
  <h1><%= @title %></h1>
  <%= yield %>
</div>

<div id="footer">
  <div>
    Written by:
    <a href="http://www.aelius.com/njh/">Nicholas Humfrey</a>
  </div>
  <div>
    Source code: <%= link_to('http://github.com/njh/mqtt-http-bridge') %>
  </div>
  <div>
    Powered by:
    <a href="http://www.sinatrarb.com/">Sinatra</a>,
    <a href="http://github.com/njh/ruby-mqtt/">ruby-mqtt</a>, and
    <a href="http://run.pivotal.io">Pivotal Web Services</a>
  </div>
</div>

<%= bootstrap_js_default %>
</body>

</html>
